*{
    margin: 0;
    padding: 0;
}
main{
    background: red;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
  } 
main section{
   height: 0;
   width: 0;
   border-left: 50px solid transparent;
   border-right: 50px solid transparent;
   border-bottom: 100px solid white;
   transition: all 1s;
}
  
section:hover{
    background: white;
    height: 100px;
    width: 100px;
    /* border-radius: 100%; */
    rotate: 45deg;
    transition: all 3s;
} 
section:hover{
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
}